<a href="https://colab.research.google.com/github/jeet0474/Machine-Learning-Projects-2024/blob/main/Jeet_Patel_(202201216).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week-1**

### **Data types: strings, integers, floats, lists, tuples, and dictionaries**

In [ ]:
# string
x = "Jeet Patel"

print(x)
print(type(x))

Jeet Patel
<class 'str'>

In [ ]:
# integer
x = 20
print(x)

y = int(20.5)
print(y)

20
20

In [ ]:
# float
x = 20.5
print(x)

20.5

In [ ]:
# lists
x = ["Jeet", "Patel"]
print(x)

['Jeet', 'Patel']

In [ ]:
# tuples
x = ("Jeet", "Patel")
print(x)

('Jeet', 'Patel')

In [ ]:
# dictionaries
x = {"name" : "Jeet Patel", "ID" : 202201216}
print(x)

{'name': 'Jeet Patel', 'ID': 202201216}

### **Operators: arithmetic operations, logical operations, and comparison operations.**

In [ ]:
# arithmatic operators

# addition
x = 10
y = 2
print(x + y)

# subtraction
x = 10
y = 2
print(x - y)

# multiplication
x = 10
y = 2
print(x * y)

# division
x = 10
y = 2
print(x / y)

# modulus
x = 10
y = 2
print(x % y)

# exponentiation
x = 10
y = 2
print(x ** y)

# floor division
x = 10
y = 2
print(x // y)

12
8
20
5.0
0
100
5

In [ ]:
# logical operators

# and
x = 10
y = 2
print(x > 0 and y > 0)

# not
x = 10
y = 2
print(not(x > 0 and y > 0))

# or
x = 10
y = 2
print(x > 0 or y < 0)

True
False
True

In [ ]:
# comparison operators

# equal
x = 10
y = 2
print(x == y)

# not equal
x = 10
y = 2
print(x != y)

# greater than
x = 10
y = 2
print(x > y)

# less than
x = 10
y = 2
print(x < y)

# greater than or equal to
x = 10
y = 10
print(x >= y)

# less than or equal to
x = 10
y = 2
print(x <= y)

False
True
True
False
True
False

### **Control flow statements: if statements, else statements, elif statements, for loops, and while loops**

In [ ]:
# if statements, else statements, elif statements

a = 100
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [ ]:
# for loop

name = ["Jeet", "Patel"]
for x in name:
  print(x)

Jeet
Patel

In [ ]:
# while loop

i = 1
while i < 5: # print 1 to 4
  print(i)
  i += 1

1
2
3
4

### **Functions**

In [ ]:
def my_name():
  print("Jeet Patel")

my_name()

Jeet Patel

### **Error handling**

In [ ]:
# try will generate error because z is not defined
try:
  print(z)
except:
  print("An exception occurred")
finally: # finally block will execute regardless of the try and except block
  print("Jeet")

An exception occurred
Jeet

### **Input Output**

In [ ]:
# input
num = input('num: ')
# output
print('You entered: ', num)

num: 10
You entered:  10